.App {
  text-align: center;
  height: 100vh;
  width: 100vw
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#main-bar {
  position: fixed;
  width: 100vw;
  height: 100px;
  background-color: black;
  overflow: hidden;
}

@media screen and (min-width: 641px) {

  #main-bar {
    height: 100vh;
    width: 100px;
  }

}

@media screen and (min-width: 1008px) {

  #main-bar {
    height: 100vh;
    width: 100px;
  }

}
